body {
    background: color #f5f5f5;
    font-size:18px;

font-family: 'Roboto',sans-serif;
}


.calculator {

width:288px;
height:450px;
background-color:#ffffff;
margin:50px auto;
border: 1px solid rgba(0,0,0,0.05);
border-radius:5px;
box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.calculator_buttons {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}
  .calculator_button {
    display:flex;
    align-items:center;
    justify-content:center;
    width:70px;
    height:60px;
    background-color:#1f2326;
    color: #f8fccf;
    border:1px solid #2d3134;
    cursor:pointer;

  }   


.calculator_button:hover {
    opacity:0.9;

}





  .calculator_button-long {
     width:142px;
  }


  .calculator_button-purple {

background-color:#5f4ab6;
border:1px solid #6a56c0;

  }




  .calculator_button-orange {

background-color:#ffc207;
border:1px solid #ffc207;
color:#1f2326;
  }


  .calculator_panel {

    height:100px;
    text-align:right;
    padding:20px;
    position:relative;


  }


  .calculator_panel_math-line
  

  

  .calculator_panel_result {
    
    
    position:absolute;
    right:20px;
    left:20px;
    word-wrap:break-word;
    bottom:20px;
    font-size:34px;
  }